:root {
	/* BASE COLORS */
	--background-1: #f7fff7;
	--background-2: #fff;
	--foreground: #1c1a1e;
	--highlight: #e0a4c6;
	--secondary: #EF476F;

	/* TIMETABLE COLOURS */
	--timetable-1: #9C3848;
	--timetable-2: #FFAD69;
	--timetable-3: #F5E663;
	--timetable-4: #7FC6A4;
	--timetable-5: #47A8BD;
	--timetable-6: #1E3888;
	--timetable-7: #7D53DE;
	--timetable-8: #D87CAC;
	--timetable-1-desat: #d0aaac;
	--timetable-2-desat: #fadcba;
	--timetable-3-desat: #f6f4b8;
	--timetable-4-desat: #c4e7d3;
	--timetable-5-desat: #acdade;
	--timetable-6-desat: #9aaac7;
	--timetable-7-desat: #c3b5ec;
	--timetable-8-desat: #eac7d7;
}


/* BASE STYLING */
html{
	font-family: "Ubuntu", sans-serif;
	background-color: var(--background-1);
	color: var(--foreground);
	letter-spacing: 0.1rem;
	font-weight: 500;
	transition: .15s ease;
	caret-color: var(--foreground);
}

body {
	margin: 0;
	padding: .75rem .75rem;
	/* line-height: 1.5; */
	height: 100%;
}

::-moz-selection {
	background: var(--highlight);
}

::selection {
	background: var(--highlight);
}


/* TIMETABLE LAYOUT */
.timetable {
	background-color: var(--foreground);
	padding: 1px;
	display: grid;
	/* grid-template-rows: repeat(16, 1fr); */
	grid-template-columns: 1fr;
	gap: 1px 1px
}

.timecell { grid-area: cell0; }
.mon { grid-area: cell1; }
.tue { grid-area: cell2; }
.wed { grid-area: cell3; }
.thu { grid-area: cell4; }
.fri { grid-area: cell5; }
.sat { grid-area: cell6; }
.sun { grid-area: cell7; }

.row {
	display: grid;
	width: 100%;
	grid-template-columns: 1fr;
	grid-template-columns: repeat(8, 1fr);
	gap: 1px 1px;
	grid-template-areas: 
		'cell0 cell1 cell2 cell3 cell4 cell5 cell6 cell7';
}


/* CELL STYLING */
.cell {
	background-color: var(--background-1);
	padding: .5rem;
	position: relative;
	word-wrap: normal;
	white-space: normal;
}

.textbox {
	text-align: right;
}

.dayname {
	display: flex;
	align-items: center;
	justify-content: center;
	resize: horizontal;
	text-align: center;
	font-weight: bold;
}

.timecell {
	display: flex;
	align-items: center;
	justify-content: left;
	text-align: left;
}


/* COLOUR PICKER */
.colourbutton{
	box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 8px;
	position: absolute;
	top: 2px;
	left: 2px;
	width: 18px;
	height: 18px;
	background-color: var(--background-2);
	border-radius: .2rem;
	border: 1px solid var(--foreground);
	display: none;
	justify-content:center;
	align-items:center;
}

.cell:hover .colourbutton {
	display: flex;
}

.coloursquare{
	cursor: pointer;
	width: 14px;
	height: 14px;
	background: conic-gradient(hsl(360, 100%, 75%), hsl(320, 100%, 75%),hsl(280, 100%, 75%),hsl(240, 100%, 75%),hsl(200, 100%, 75%),hsl(160, 100%, 75%),hsl(120, 100%, 75%),hsl(80, 100%, 75%),hsl(40, 100%, 75%),hsl(0, 100%, 75%));
	border-radius: 100%;
	border: 1px solid var(--foreground);
}

.colourpicker{
	/* Style */
	cursor: default;
	position: relative;
	background-color: var(--background-2);
	border: 1px solid var(--foreground);
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	padding: .75rem;
	/* Weird positioning stuff */
	z-index: 100;
	width: 128px;
	right: calc(64px + 7px);
	margin-top: calc(15px + 18px);
	/* center the inner contents */
	display: flex;
	justify-content: center;
	align-items: center;
}

.colourpickerarrow {
	position: absolute;
	right: calc(50% - 15px);
	top: -15px;
	border-top: none;
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
	border-bottom: 15px solid var(--foreground);
}
.colourpickerarrow:after {
	z-index: 1000;
	content: "";
	position: absolute;
	right: calc(50% - 14px);
	top: 1px;
	border-top: none;
	border-right: 14px solid transparent;
	border-left: 14px solid transparent;
	border-bottom: 14px solid var(--background-2);
}

.colourpickerinner{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 10px 10px;
	grid-template-areas:
		". . . ."
		". . . .";
}

.colourpickerbutton {
	border:none;
	width:24px;
	height:24px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.colourpickerbutton:hover{
	transform: translate(0px, -2px);
}

.colourpickerbutton:active{
	-webkit-filter: brightness(80%);
			filter: brightness(80%)
}