:root {
	/* BASE COLORS */
	--background-1: #f7fff7;
	--background-2: #fff;
	--foreground: #1c1a1e;
	--highlight: #e0a4c6;
	--secondary: #EF476F;

	/* TIMETABLE COLOURS */
	--timetable-1: #1E3888;
	--timetable-2: #47A8BD;
	--timetable-3: #7FC6A4;
	--timetable-4: #F5E663;
	--timetable-5: #FFAD69;
	--timetable-6: #9C3848;
	--timetable-7: #D87CAC;
	--timetable-8: #7D53DE;
	--timetable-1-desat: #9aaac7;
	--timetable-2-desat: #acdade;
	--timetable-3-desat: #c4e7d3;
	--timetable-4-desat: #f6f4b8;
	--timetable-5-desat: #fadcba;
	--timetable-6-desat: #d0aaac;
	--timetable-7-desat: #eac7d7;
	--timetable-8-desat: #c3b5ec;
}

html{
	font-family: "Ubuntu", sans-serif;
	background-color: var(--background-1);
	color: var(--foreground);
	letter-spacing: 0.1rem;
	font-weight: 500;
	transition: .15s ease;
}

body {
	margin: 0;
	padding: .75rem .75rem;
	line-height: 1.5;
	height: calc(100vh - 1.5rem);
}

.container { 
	height: 100%;
	padding: 1px;
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: 1fr;
	gap: 1px 1px;
	background-color: var(--foreground);
	grid-auto-flow: row;
	grid-template-areas:
		"times mon tue wed thu fri sat sun";
}

#times { grid-area: times; }
#mon { grid-area: mon; }
#tue { grid-area: tue; }
#wed { grid-area: wed; }
#thu { grid-area: thu; }
#fri { grid-area: fri; }
#sat { grid-area: sat; }
#sun { grid-area: sun; }

.cell {
	background-color: var(--background-1);
	padding: .5rem;
	text-align: right;
	word-wrap: normal;
	white-space: normal;
}

.dayname {
	resize: horizontal;
	text-align: center;
	font-weight: bold;
}

.timecell {
	text-align: left;
}

.daycontainer {
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(16, 1fr);
	gap: 1px 1px;
	grid-auto-flow: row;
	grid-template-areas:
		"dayname"
		"seven"
		"eight"
		"nine"
		"ten"
		"eleven"
		"twelve"
		"thirteen"
		"fourteen"
		"fifteen"
		"sixteen"
		"seventeen"
		"eighteen"
		"nineteen"
		"twenty"
		"twenty-one";
}

.dayname { grid-area: dayname; }
.seven { grid-area: seven; }
.eight { grid-area: eight; }
.nine { grid-area: nine; }
.ten { grid-area: ten; }
.eleven { grid-area: eleven; }
.twelve { grid-area: twelve; }
.thirteen { grid-area: thirteen; }
.fourteen { grid-area: fourteen; }
.fifteen { grid-area: fifteen; }
.sixteen { grid-area: sixteen; }
.seventeen { grid-area: seventeen; }
.eighteen { grid-area: eighteen; }
.nineteen { grid-area: nineteen; }
.twenty { grid-area: twenty; }
.twenty-one { grid-area: twenty-one; }